body{
    margin: 0;
    padding: 0;
    background-image: url("imgs/pokedex_bgn2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #cccccc;
}
h1{
    text-align: center;
    justify-content: center;
}
h2{
    font-style: oblique;
    margin-left: 3em;
}
.lgbtn{
    margin: 10px;
}
.addpokemon{
    display: flex;
    flex-wrap:nowrap;
}

.addpokemon-left{
    float: left;
}

.addpokemon-right{
    float: right;
    margin-left: 5em;
}
.addpersons{
    display: flex;
    flex-wrap: nowrap;
}
.addpersons-left{
    float: left;
}
.addpersons-right{
    float: right;
    margin-left: 5em;
}


section{
    flex-wrap: nowrap;
    flex-direction:row;
    margin-left: 5px;
}